body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    display:grid;
    grid-template-columns:1fr minmax(auto, 1170px) 1fr;
    grid-template-areas:". header_menu ."
                        "header header header";
}

*,
:before,
:after{
    box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
    color:#242f51;
}
p{
    margin:0;
    padding:0;
    font-size:16px;
    color:#616368;
}
.header{
    grid-area:header;
    width:100%;
    max-width:1600px;
    height:831px;
    background:url("../images/headerImage.jpg")center no-repeat;
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}
.header_Logo h1{
    color:#FCAE61;
}
.header_Logo span{
    color:#242F51;
}
.header_menu{
    grid-area:header_menu;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    margin-top:102px;
    margin-bottom:26px;
}
.nav_menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width:689px;
}
.nav_menu a{
    text-decoration:none;
    color:#242F51;
}
.btn{
    width:171px;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight:bold;
    padding-left:40px;
    padding-right:40px;
    padding-top:10px;
    padding-bottom:12px;
    border:none;
    border-radius:20px;
    background-color:#2500f9;
    color:#fff;
    cursor: pointer;
}
.header_Logo{
    font-size:15px;
    font-weight:bold;
}
.header_Text{
    grid-area:header_Text;
    max-width:519px;
    height:370px;
    margin-left:17.45%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.header_Text p:first-child{
    max-width:362px;
    font-size:18px;
    background:#e2eaed;
    display:flex;
    align-items: center;
    border-radius:20px;
    color:#242f51;
}
.header_Text p:last-child{
    font-size:18px;
    
}
.header_Text h1{
    font-size:60px;
    font-weight:600;
    line-height:1.4;
}
.header_Text a{
    text-decoration:none;
    margin-left:22px;
    color:#2500f9;
}
@media(max-width:1280px){
    body{
        grid-template-columns:1fr;
        grid-template-areas:"header_menu"
                            "header";
    }
    .header{
        width:100%;
        max-width:1280px;
        height:667px;
    }
    .header_menu{
        margin-top:10px;
    }
}
@media(max-width:1024px){
    .header{
        width:100%;
        max-width:1024px;
        height:532px;
    }
    .header_Text h1{
        font-size:40px;
    }
    .header_Text{
        margin-left:150px;
        width:100%;
        max-width:350px;
    }
    .header_Text p{
        font-size:14px;
    }
    
}
@media(max-width:768px){
    
    .header{
        width:100%;
        max-width:768px;
        height:400px;
    
    }
    .nav_menu{
        display:none;
    }
    .btn{
        width:70px;
        font-size:8px;
        padding:5px;
    }
   
    .header-Text p:first-child{
        font-size:8px;
    }
    .header_Text{
        margin-left:50px;
        width:100%;
        max-width:350px;
    }
}
    
@media(max-width:375px){
    
    .header{
        width:100%;
        max-width:375px;
        height:200px;
    }
    .header_Logo h1{
        font-size:12px;
    }
    .header_Text{
        width:100%;
        max-width:150px;
        height:180px;
    }
    .header_Text p:first-child{
        width:100%;
        max-width:100px;
        font-size:8px;
    }
    .header_Text p{
        font-size:8px;
    }
    .header_Text h1{
        font-size:18px;
    }
    .header_Text a{
        font-size:6px;
        margin-left:0px;
    }
    .header_Text img{
        width:30px;
        height:30px;
    }

}
